@import "tailwindcss";

:root {
  --color-bg: #F8FAFC; 
  --component-bg: #FFFFFF; 
  --navbar-bg: #FFFFFF; 
  --sidebar-bg: #1E293B; 
   --text-color: #000000;
   --btn-color: #e8e8e8;
}

.dark {
  --color-bg: #242424; 
  --component-bg: #4f4f50; 
  --navbar-bg: #1d1d1d; 
   --sidebar-bg: #050911; 
  --text-color: #ffffff;
   --btn-color: #969696;
}



body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}