@import "tailwindcss";

:root {
  --color-bg: #F8FAFC; 
  --component-bg: #FFFFFF; 
  --navbar-bg: #FFFFFF; 
  /* --sidebar-bg: #1b4c59;  */
    --sidebar-bg: #f3f5f7; 
   --text-color: #000000;
   --btn-color: #e8e8e8;
   --table-bg: #ffffff;
   --side-btn-bg: #00a2ff;
   --placeholder-color: #a1a1a1;
}

.dark {
  --color-bg: #171717; 
  --component-bg: #242426; 
  --navbar-bg: #171717; 
   --sidebar-bg: #181717; 
  --text-color: #ffffff;
   --btn-color: #969696;
   --table-bg: #343434;
    --side-btn-bg: #075772;
   --placeholder-color: #a1a1a1;
}

.custom-table .ant-table-thead > tr > th {
  background-color: var(--table-bg) !important;
  color: var(--text-color) !important;
}

.custom-table .ant-table-tbody > tr > td {
  background-color: var(--component-bg) !important;
  color: var(--text-color) !important;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: var(--btn-color) !important;
}

.ant-input::placeholder {
  color: var(--placeholder-color);
}

.themed-picker .ant-picker-input > input,
.themed-picker .ant-picker-input > input::placeholder {
    color: var(--placeholder-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}